.mainContainer{
    width: 600px;
    height: 600px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.svg{
}

.mainCircle{
}

@keyframes circleProgress {
    from {width: 0}
    to {width: 150px}
}

.fill{
    animation: circleProgress 10s;
}
/*
#rectClip rect{
    animation: circleProgress 10s;
}*/

.presentation{
    position: absolute;
    -webkit-box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
    -moz-box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
    box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
}