.mainContainer{

    width: 100%;

    box-sizing: border-box;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow-x: hidden;

    perspective: 100px;
}

.svg{
    border: 1px solid green;
}

.backgroundImage {
    position: absolute;
    z-index: -1;

    transform: translateZ(-100px) scale(3);
}

.secondBackgroundBackground{
    position: absolute;
    z-index: -3;

    transform: translateZ(-100px) scale(3);

    background: white;

    width: 100%;

    display: flex;
    justify-content: center;
 }

.footer{
    height: 50vh;
    width: 100%;
    background: #ff4e4c;
    flex-shrink: 0;
}


.secondBackgroundImage{

    -webkit-box-shadow: 2px -1px 45px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 45px -4px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 45px -4px rgba(0,0,0,0.75);

    border-left: #ff4e4c solid 1px;
    border-right: #ff4e4c solid 1px;
}

@keyframes FadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.secondBackgroundPanel{
    width: 100%;
    height: 100vh;

    position: relative;

    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle{
    font-size: 130px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    animation: FadeIn 4s;
}

.secondaryText{
    font-size: 30px;
    color: #e3e3e3;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;



    animation: FadeIn 4s;

}

.backgroundLayer{
    height: 100vh;
    width: 100%;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(28, 42, 69, 0.3);

    color: #ffffff;

    font-family: 'Josefin Sans', sans-serif;
}


.companyName{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: #263047;

    margin-bottom: 10px;
}

.apiFeatures{
    font-size: 45px;
}


.title{
    background: #f2f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;

    width: 100%;
}

.emptySpace{
    min-height: 500px;
    height: 500px;

}

.middleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;

    background: #f2f6f6;

}

.rightTexts{
}

.texts{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.leftTexts{
}

.textItemBody{
    color: gray;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.textItemTitle{
    font-size: 20px;
}

.textItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 300px;
}

.afterCircle{
    height: 500px;
    width: 100%;
    flex-shrink: 0;
    background: #f2f6f6;
}
