.mainContainer{
    width: 600px;
    height: 600px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.svg{
}

.mainCircle{
}

@keyframes upperRectAnimation {
    from {width: 0}
    85% {width: calc(600px - 2*90px); x: 90}
    to{width:0; x: calc(600px - 90px)}
}

@keyframes rightRectAnimation {
    from {height: 0}
    85% {height: calc(600px - 2*90px); y: 90}
    to{height:0; y: calc(600px - 90px)}
}

@keyframes lowerRectAnimation {
    from {width: 0}
    85% {width: calc(600px - 2*90px); x: 90}
    to{width:0; x: 90}
}

@keyframes leftRectAnimation {
    from {height: 0}
    85% {height: calc(600px - 2*90px); y: 90}
    to{height:0; y: 90}
}

@keyframes turnAround {
    from {
        transform: rotateY(0deg) translateZ(-10px);
    }
    to{
        transform: rotateY(180deg) translateZ(0px);
    }
}

.turnAroundAnimation{
    animation: turnAround 2s;
}

.upperFill{
    animation: upperRectAnimation 9s linear;
}

.rightFill{
    animation: rightRectAnimation 9s linear;
}

.leftFill{
    animation: leftRectAnimation 9s linear;
}

.lowerFill{
    animation: lowerRectAnimation 9s linear;
}

.presentation{
    position: absolute;
    -webkit-box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
    -moz-box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
    box-shadow: 0px 9px 14px -1px rgba(162,165,184,1);
}

.shapeContainer{
    width: 26px;
    height: 26px;

    background: #f2f6f6;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 100px;
    transform-origin: center ;
}

.actualShape{

}

.lowerRightShape{
    bottom: 76px;
    right: 76px;
}

.lowerLeftShape{
    bottom: 76px;
    left: 76px;
}

.upperRightShape{
    top: 76px;
    right: 76px;
}

.upperLeftShape{
    top: 76px;
    left: 76px;
}
