.mainContainer{
    overflow-y: scroll;

    flex: 1;
}

.loading{
    position: absolute;
}

.controlTitle{
    font-size: 24px;
    margin-top: 20px;
}

.controlText{
 margin-top: 15px;
}

.controlContainer{
    height: 100%;

    flex-shrink: 0;

    width: 95%;
}

.checkBoxContainer{
    margin-top: 20px;

    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}


.message{
    font-size: 30px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.checkBox{
    width: 20px;
    height: 20px;

    margin-right: 20px;
}

.video{

    width: 100%;
    transition: all .4s;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.button{
    background: #ff4e4c;
    color: whitesmoke;

    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;

    border-radius: 8px;

    transition: all .3s;
}

.button:hover{
    background: #a42c2b;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    height: 30px;

    margin-left: 15px;
    margin-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.time{
    color: #ff4e4c;
    font-weight: bold;

    position: absolute;

    top: 10px;
    right: 10px;

    font-size: 20px;
}

.upperPanel{

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    margin-top: 50px;
}

@media only screen and (max-width: 1100px) {
    .upperPanel {
        flex-direction: column;
    }
}
