.mainContainer{
    height: 70vh;

    min-height: 600px;

    -webkit-box-shadow: 1px -1px 19px 2px rgba(148,148,148,1);
    -moz-box-shadow: 1px -1px 19px 2px rgba(148,148,148,1);
    box-shadow: 1px -1px 19px 2px rgba(148,148,148,1);

    border: 1px solid #ff4e4c;
    border-radius: 5px;
}

.enlarge{
    width: 25px;
    cursor: pointer;

}

.header{

    height: 8%;

    background: white;

    border-radius: 5px 5px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;

    font-family: 'Alata', sans-serif;

    color: #ff4e4c;

    font-size: 20px;
}

.body{
    height: 92%;

    background: #dee5e5;

    border-radius: 0 0 5px 5px;

    position: relative;
}

.large{
    width: 50%;
}

.small{
    width: 20%;
}

@media only screen and (max-width: 1100px) {
    .large {
        width: 85%;
        order: -1;
    }

    .small{
        width: 85%;
    }

    .mainContainer{
        margin-bottom: 40px;
    }

}
