.mainContainer{
    display: flex;

    flex-direction: row;

    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;

    background: whitesmoke;
    box-shadow: 2px 2px 2px #888282;
}

.navBar{

}

.logoText{
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.logo{
    height: 80%;
    border-radius: 2px;

    margin-right: 5px;
}

.logoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 50px;

    cursor: pointer;
}