.mainContainer{

    display: flex;

    justify-content:  center;
    align-items: center;

    cursor: pointer;
    min-width: 80px;
    user-select: none;


    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.textContainer{
    position: relative;
    padding-bottom: 5px;
    color: #322e2e;

    transition: all .3s;
}

.textContainer:hover::after{
    margin-right: 0;
    width: 100%;
}

.textContainer:hover{

    color: #ff4e4c;
}

.textContainer::after{
    background: #ff4e4c;
    content: "";
    width: 0;
    height: 1px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50%;

    transition: all .3s;
}

.selected{
    position: relative;

    color: whitesmoke;
    background: #ff4e4c;
    font-weight: bold;

    padding: 6px;
    border-radius: 15px;
    cursor: default;
}