.mainComponent{
    width: 100%;
    overflow-y: scroll;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    position: relative;
}

.leftContainer{
    width: 60%;

    background: #f3e8e8;
    border: 1px solid #efc6c6;
    border-radius: 3px;

    -webkit-box-shadow: 10px 11px 30px -17px rgba(61,61,61,1);
    -moz-box-shadow: 10px 11px 30px -17px rgba(61,61,61,1);
    box-shadow: 10px 11px 30px -17px rgba(61,61,61,1);
}

.rightContainer{
    border: 1px solid black;
    width: 30%;

    -webkit-box-shadow: 10px 11px 30px -10px rgba(122,122,122,1);
    -moz-box-shadow: 10px 11px 30px -10px rgba(122,122,122,1);
    box-shadow: 10px 11px 30px -10px rgba(122,122,122,1);
}

.basicContainer{

    margin-top: 50px;
}




@media only screen and (max-width: 1300px) {
    .mainComponent{
        flex-direction: column;
    }

    .basicContainer{
        width: 90%;
        margin-top: 50px;
    }
}

.title{

    height: 70px;

    font-size: 35px;

    display: flex;

    justify-content: start;
    align-items: center;
    padding-left: 50px;

    background: #f6f1f1;
    color: #bf3735;

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    font-family: 'Montserrat', sans-serif;
}

.uploadBarContainer{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.dropContainer{
    border: 2px dashed #d27c7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.uploadWidget{
    border-radius: 3px;
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
    user-select: none;
}

.unselected{
    background: linear-gradient(45deg, rgb(229, 128, 128), rgb(198, 0, 0));;
    opacity: 0;
}

.selected{
    background: linear-gradient(45deg, rgb(229, 128, 128), rgb(198, 0, 0));
    opacity: 0.4;
}

.uploadedFileList{
    width: 45%;

    margin-top: 20px;
}

.fileItem{
    width: 100%;

    display: flex;
    align-content: center;
    font-family: 'Nunito', sans-serif;

    border-bottom: 1px solid #d7c8c8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imageTitles{

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sizeLabel{
    color: #a49e9e;
    margin-left: 6px;
    font-size: 12px;
}

.closeLabel{
    height: 15px;
    cursor: pointer;
}

.nameLabel{
    margin-left: 6px;
    font-weight: bold;
}

.fileInfo{
    width: 80%;
}

.fileIconContainer{
    width: 15%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.fileIcon{
    height: 45px;
}

.uploadedFileContainer{

}

.uploadFileHeader{
    height: 40px;
    background: #ff4e4c;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploadImage{
    width: 70%;
    margin-top: 50px;
}

.dragFilesLabel{
    font-family: 'Nunito', sans-serif;

    color: #c45656;
    font-size: 30px;
    margin-top:15px;
    margin-bottom: 15px;
}

.dragFilesButton{
    font-family: 'Nunito', sans-serif;
    margin-top:15px;

    background: #ff4e4c;
    color: whitesmoke;
    width: 100%;
    font-size: 30px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
    cursor: pointer;

    z-index: 10;
}

.dragFilesButton:hover{
    background: #ca2523;
    color: #f8f8d4;
}

.dropAreaBackground{
    width: 100%;
    height: 100%;
    position: absolute;

    transition: all .3s;

    z-index: 4;
}

.uploadInput{
    display: none;
}
